@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ephesis&family=Lugrasimo&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ephesis&family=Press+Start+2P&display=swap');

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.font-bold {
  color: white;
  font-family: "Lugrasimo", cursive;
}

/* Home Content Styles */
.home-content h1 {
  font-size: 3rem;
  margin: 0;
  color: black;
}

.home-content p {
  font-size: 1.5rem;
  margin: 20px 0;
  color: black;
}

/* Shop Now Button */
.shop-now {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #D97C52;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shop-now:hover {
  background-color: #A65A3C;
}

/* Background Images */
.background-images {
  border: 2px solid black;
  height: 100vh;
  background-image: url('/banner1.jpg'), url('/banner2.jpg');
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: left top, right top;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1);
}

/* Bounce Animation */
@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
